body {
	background-color: pink;
	font-family: 'Courier New', Courier, monospace;
	padding: 50px;
	text-align: center;
}

section {
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}

.one {
	background-color: rgba(255, 255, 255, 0.227);
}